---
import AnimatedLink from "../../animation/AnimatedLink.astro";
---

<AnimatedLink text="Pavlo" href="/" class="font-accent leading-[80%]">
  <p class="font-main text-[18px]">Tishynin</p>
</AnimatedLink>
